.navbar{
  background-color: gray;
  width: 58.2%;
  padding: 10px;

}
.title{
  font-weight: bold;
}
.login{
  padding-left: 230px
}
ol{
  background-color: lightgray;
  width: 56.4%;
}
.marker{
  color: white;
}
.resourcebar{
  background-color: lightgray;
  width: 53.3%;
  padding-left: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.search{
  padding-top: 10px;
}
ol{
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
li{
  color: darkgrey;
}
li span{
  color: black;
}
.marker1{
  color: black;
}
p{
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}
div a{
  text-decoration: none;
  color: black;
}
.searchbar{
  color: darkgray;
  padding-left: 130px
}
.links{
  font-size: 75%;
  color: darkgray;
}
.ratings{
  font-size: 75%;
  color: darkgray;
  padding: 13px
}
.line-separator{
  height: 2px;
  background: gray;
  width: 60%
}
.logo{
  color: white;
  font-weight: bold;
  border: solid white .1px;
  font-size: 75%;
  padding: 3px;
  margin: 5px;
}
